.service {
  margin-bottom: 80px;
  &__title {
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }
    @include tab {
      text-align: center;
      flex-direction: column;
      &:nth-of-type(2n) {
        flex-direction: column;
      }
    }

    &-imgBox {
      width: 480px;
      height: 240px;
      overflow: hidden;

      @include tab {
        margin: 0 auto 40px;
      }

      img {
        width: 100%;
      }
    }

    &-title {
      font-size: 3rem;
      margin-bottom: 40px;
    }

    &-description {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }

    &-price {
      font-size: 1.6rem;
    }
  }

  &__note {
    text-align: center;
    font-size: 1.6rem;
  }
}
