.skills {
  width: 100%;
  overflow: hidden;
  background-image: url("../img/bg-img/skills.png");
  background-position: center;

  &__title {
    color: $cBlack;
    text-align: center;
    text-shadow: 1px 0 5px $cWhite;
  }

  $gap: 14px;
  &__list {
    background-color: rgba(black, 0.5);
    border-radius: 5px;
    display: grid;
    gap: $gap;
    grid-template-columns: 1fr 1fr;
    padding: $gap;

    @include tab {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background-color: white;
    transition: transform 1s;
    border-radius: 0.3rem;
    display: flex;
    padding: 10px 0;

    &-imageBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 2;
      text-align: center;
    }

    .fab {
      font-size: 12rem;
      display: inline-block;
    }

    &-textarea {
      flex: 5;
    }

    &-title {
      font-size: 3rem;
      margin-bottom: 10px;
    }

    &-level {
      font-size: 2rem;
      margin-bottom: 10px;

      .star {
        color: pink;
      }
    }

    &-description {
      font-size: 1.8rem;
      text-align: left;
    }
  }
}
