.works {
  background-color: $cWhite;
  background-image: url("../img/bg-img/works.jpg");
  background-size: cover;
  background-position: center center;
  &__title {
    color: $cWhite;
    text-align: center;
    text-shadow: 1px 0 5px $cBlack;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    width: 680px;
    height: 350px;
    overflow: hidden;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    @include tab {
      width: 100%;
    }

    img {
      width: 100%;
      @include tab {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    p {
      color: $cWhite;
      text-shadow: 1px 0 5px $cBlack;
      font-size: 2rem;
      white-space: nowrap;
      width: 100%;
      text-align: center;
      border-radius: 3px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 100%
      );

      position: absolute;
      bottom: -20%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: 0.5s;
    }

    &:hover p {
      bottom: 0%;
      opacity: 1;
    }
  }
}
