@import "../modules/reset";
@import "../modules/lib";
@import "../modules/door";
@import "../modules/header";
@import "../modules/back-btn";
@import "../modules/footer";

body {
}

.wrapper {
  @include tab {
    width: 90%;
  }
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box {
  margin-bottom: 40px;
  overflow: hidden;
  width: 1000px;
  height: auto;
  position: relative;

  @include tab {
    width: 100%;
    height: 580px;
  }

  img {
    height: 100%;
    @include tab {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

dl {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  @include tab {
    font-size: 2rem;
  }
  dt {
    display: inline-block;
    margin-bottom: 20px;
  }
  dd {
    display: inline-block;
  }
}

.detail-text {
  text-align-last: left;
  line-height: 40px;
}

.custom_field {
  margin-bottom: 40px;
}

.inner {
  position: relative;
  height: 160px;
  margin-bottom: 40px;
}

.site-link-btn {
  display: inline-block;
  font-size: 2rem;
  background-color: $cGreen;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 10px 20px;
  color: $cWhite;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: content-box;
  transition: 0.3s;

  &:hover {
    color: $cGreen;
    background-color: $cWhite;
    border: 1px solid $cGreen;
  }

  .fa-chevron-right {
    margin-left: 4px;
  }
}

.back-btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
