@import "../modules/reset";
@import "../modules//lib";
@import "../modules/door";
@import "../modules/header";
@import "../modules/back-btn";
@import "../modules/footer";

body {
  width: 100%;
  opacity: 0;
}

.title {
  color: gray;
}

/* Contact Form7 */

.contact7 {
  max-width: 100%;
  box-sizing: border-box;

  &__flex {
    display: flex;
    // justify-content: space-between;
  }

  &__left {
    flex: 1;
  }

  &__right {
    flex: 2;
  }

  p {
    font-size: 2rem;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    // height: 100%;
  }

  input {
    height: 3.6rem;
    margin-bottom: 20px;
  }

  .must {
    background: #ff1a00;
  }

  .optional {
    background: #999;
  }

  .must,
  .optional {
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    letter-spacing: 2px;
  }

  .btn_contact7 input {
    display: block;
    width: 30%;
    background-color: $cGreen;
    border-radius: 5px;
    margin: 0 auto;
    color: $cWhite;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    border: 1px solid $cGreen;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: $cGreen;
    }
  }
}
